@import '../../assets/styles/lib/variables';

.card-container {
  position: relative;
}

.bg-card {
  background: $colorWhite url(../../assets/images/bg-card.png);
  background-repeat: no-repeat;
  background-size: 74% 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: $colorHeading;
}
