@import '../../../assets/styles/lib/variables';

.cart {
  position: relative;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $colorWhite;
  }
}

.cart--counter {
  width: 20px;
  height: 20px;
  background-color: #00bcd4;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -21px;
  font-size: 0.9rem;
  top: 1px;
  color: #fff;
}
